// SCSS Document _global.scss
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: $font-family-default;
  font-weight: $font-weight-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
  color: $font-color-default;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* NO BORDER FireFox */
object,
embed {
  outline: none !important;
}

a img {
  border: none !important;
}

a img,
a:focus,
a:active {
  outline: none !important;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b {
  font-family: "HelveticaBold";
  font-weight: normal;
}

/* BANNER */
#bg-exit {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: $color-yellow;
  cursor: pointer;
  margin: auto;
  overflow: hidden;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* TIMELINE CTRL */
#timeline-control input[type="range"]:focus {
  outline: 0;
  border: 0;
}
/* BANNER */
div.wrapper-banner div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div.wrapper-banner svg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: visible;
}
div.wrapper-banner > img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  visibility: hidden;
}
div.wrapper-banner div.image {
  width: 100%;
  height: 100%;
  background-size: contain;
}
div.wrapper-banner div.alpha,
div.wrapper-banner img.alpha,
span.alpha {
  opacity: 0;
}
/* BORDER INSIDE */
div.wrapper-banner div.border {
  background: #ccc;
  z-index: 10;
}
#border-top,
#border-bottom {
  height: 1px;
  width: 100%;
  max-width: 1000px;
}
#border-left,
#border-right {
  width: 1px;
}
#border-right {
  left: auto;
  right: 0;
}
#border-bottom {
  top: auto;
  bottom: 0;
}

#font-small-load {
  font-family: $font-family-default;
  font-size: 6px;
  opacity: 0;
}
/* TYPO */
div.wrapper-banner .typo {
  width: auto;
  height: auto;
  color: #fff;
  line-height: 1.125;
  overflow: visible;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//div.wrapper-banner .typo .line {}
div.wrapper-banner .typo .line {
  position: relative;
  height: auto;
  overflow: visible;
  //hyphens: auto;
}

sup {
  line-height: 0;
  font-size: 50%;
}
