// SCSS Document _theme.scss

//#bg-exit - will be populate with theme class
//THEMES
div.wrapper-banner {
  // SIZES LINEHEIGHTS
  $i: 36;
  $max: 65;
  @while $i<$max {
    &.copy-#{$i} {
      .typo,
      .line {
        font-size: #{$i}px;
      }
    }
    &.hline-#{$i} {
      .typo,
      .line {
        line-height: #{$i}px;
      }
    }
    $i: $i + 1;
  }
  //STD: padding: 14px 0 0 20px;
  $i: 10;
  $max: 31;
  @while $i<$max {
    &.pad-left-#{$i} {
      .typo {
        padding-left: #{$i}px;
      }
    }
    &.pad-top-#{$i} {
      .typo {
        padding-top: #{$i}px;
      }
    }
    $i: $i + 1;
  }
  //WORD SPACING HACK
  $i: -10;
  $max: 11;
  @while $i<$max {
    &.word-space-#{$i} {
      .typo {
        word-spacing: #{$i}px;
      }
    }
    @if $i != -1 {
      $i: $i + 1;
    } @else {
      $i: $i + 2;
    }
  }
  // CTA SIZE
  &.cta-small {
    font-size: $cta-font-size-small;
  }
}
